
body {
font-family: 'Noto Sans KR';
margin: 0;
padding: 0;
}

@media (min-width: 768px) {
    .fixed-bottom.mb-5 {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.btn-primary {
    background-color: #0064FF;
    width: 306px;
    height: 54px;
    filter: drop-shadow(0px 4px 4px #9A9A9A);
    border-radius: 10px;
}

.login-input {
    background-color: #E0E0E0;
    width: 306px;
    max-width: 306px;
    height: 54px;
    filter: drop-shadow(0px 4px 4px #DADADA);
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
    color: #9E9E9E;
    margin-left: 10vw;
    margin-right:10vw;
}

.sign-up-input {
    background-color: transparent;
    width: 306px;
    max-width: 306px;
    height: 54px;
    border: none;
    border-radius: 0;
    padding: 0; 
    font-size: 14px;
    filter: drop-shadow(0px 4px 4px #DADADA);
    color: #9E9E9E;
    border-bottom: 2px solid #9E9E9E;
    outline: none;
    margin-bottom: 5px;
}
.sign-up-problem{
    width:306px; 
    text-align: left; 
    color: red;
    margin-bottom: 2vh;
    padding-left: 2vh;
}

.form-control {
    background-color: #E0E0E0;
    width: 90vw;
    height: 40px;
    filter: drop-shadow(0px 4px 4px #DADADA);
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
    color: #9E9E9E;
    outline: none;
}

.input-group-text {
    border : none;
}

.bg-light {background-color: #E0E0E0!important;}

a {
    color : black;
    text-decoration: none;
}

.font32b{
    font-family: 'Noto Sans KR';
    font-size: 32px;
    font-weight: 700;
}

.font28b{
    font-family: 'Noto Sans KR';
    font-size: 28px;
    font-weight: 700;
}

.font28r{
    font-family: 'Noto Sans KR';
    font-size: 28px;
    font-weight: 400;
}

.font24b{
    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-weight: 700;
}

.font24r{
    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-weight: 400;
}

.font20b{
    font-family: 'Noto Sans KR';
    font-size: 20px;
    font-weight: 700;
}

.font20r{
    font-family: 'Noto Sans KR';
    font-size: 20px;
    font-weight: 400;
}

.font16b{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 700;
}

.font16r{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
}

.font14b{
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-weight: 700;
}

.font14r{
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-weight: 400;
}

.font12b{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 700;
}

.font12r{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 400;
}

.font10b{
    font-family: 'Noto Sans KR';
    font-size: 10px;
    font-weight: 700;
}

.font10r{
    font-family: 'Noto Sans KR';
    font-size: 10px;
    font-weight: 400;
}
.nav {
    position: sticky;
}
